.comment_container{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.comment_input{
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    /* outline: none; */
}
.comment_btn{
    height: 30px;
    border-radius: 20px;
    /* background-color: aliceblue; */
}